button{
    background-color:green;
}
.heading{
    text-align : start;
    text-decoration: dotted;
}
p{
    text-align: center;
    text-decoration: green underline;
}
a{
    text-decoration: blue overline;
    text-align: left;
}
